[Unit]
Description=Hercules
Wants=network.target
After=network.target

[Service]
WorkingDirectory=/var/hercules
ExecStart=uvicorn lib.L3_app.main:app --root-path /api
Restart=always
User=root

[Install]
WantedBy=multi-user.target
